h1 {
    color: purple;
    text-align: center;
}

h1 span {
    background-color: ghostwhite;
    box-shadow: 0px 0px 10px 10px ghostwhite;
}

body {
    background-image: url("purple-flowers.jpeg");
}

.quotesstyle {
    text-align: center;
    font-size: 1.5em;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style: italic;
    
    left: 0;
    line-height: 50px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
    
    background-color: ghostwhite;
    box-shadow: 0px 0px 10px 10px ghostwhite;
}

.button_wrapper {
    text-align: center;
}

.button {
    position:relative;
    margin-top: 25%;
    
    padding: 10px 24px;
}

